.weatherApp {
  border: solid;
  border-color: gray;
  border-width: thin;
  border-radius: 20px;
  padding-right: 30px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  padding-bottom: 50px;
  min-width: 600px;
  max-width: 600px;
}

.search {
  display: inline;
}

.searchBox {
  background-color: rgb(217, 237, 253, 0.5);
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom: 10px;
  border-style: solid black;
  border-radius: 5px;
  border-width: 0.1px;
  font-style: italic;
  margin-top: 30px;
}

.searchButton {
  background: rgb(217, 237, 253);
  font-family: "Balsamiq Sans", cursive;
  padding: 8px;
  border: solid black;
  border-width: 0.1px;
  border-radius: 5px;
  color: rgb(68, 41, 158);
  transition: all 200ms ease;
}

.searchButton:hover {
  background: rgb(20, 45, 76);
  color: white;
  cursor: pointer;
}

#locationButton {
  display: inline;

  background-color: rgb(255, 235, 187);
  font-family: "Balsamiq Sans", cursive;
  padding: 5px 20px;
  margin-left: 140px;

  border: solid black;
  border-width: 0.1px;
  border-radius: 5px;
  color: rgb(68, 41, 158);
  transition: all 200ms ease;
}

#locationButton:hover {
  background: rgb(20, 45, 76);
  color: white;
  cursor: pointer;
}

.city {
  font-size: 60px;
  font-family: "Balsamiq Sans", cursive;
  color: rgb(20, 45, 76);
  font-weight: 400;

  margin-top: 80px;
}

#time {
  padding-bottom: 5px;
  padding-top: 10px;
}

#fullDate {
  margin-bottom: 50px;
}
.date {
  font-size: 25px;
  color: rgba(20, 45, 76, 0.6);
  font-family: "Balsamiq Sans", cursive;
}

.current {
  padding-left: 50px;
  margin-bottom: 120px;
}

.currentTemp {
  width: 200px;
  margin: auto;
  margin-top: 100px;

  padding-left: 10px;
  font-size: 70px;
  color: rgb(20, 45, 76);
  font-family: "Balsamiq Sans", cursive;
}

.info {
  float: right;
  font-size: 20px;
  color: rgba(20, 45, 76, 0.6);
  font-family: "Balsamiq Sans", cursive;
}

.unit {
  position: relative;
  bottom: 30px;
  font-family: "Balsamiq Sans", cursive;
  font-size: 30px;
  text-decoration: none;
  padding-left: 20px;
}

#celsius {
  color: #0a58ca;
  font-weight: bolder;
}

#fahrenheit {
  color: rgb(198, 190, 190);
}

.currentEmoji {
  position: relative;
  bottom: 25px;
  font-size: 50px;
}

img {
  font-size: 30px;
}

.day {
  margin-top: 60px;
  padding-left: 5px;
  font-size: 20px;
  font-family: "Balsamiq Sans", cursive;
  color: rgb(20, 45, 76, 0.6);
}

.temp {
  padding-left: 10px;
  font-size: 20px;
  font-family: "Balsamiq Sans", cursive;
  color: rgb(20, 45, 76, 0.6);
}

#codeLink {
  width: 225px;
  margin: auto;
  margin-bottom: 60px;
}
